".source.turing":
	editor:
		commentStart: "% "
		increaseIndentPattern: """(?x)
			( ^\\s* (?:begin|body|case|class|elsif|if|for|loop|process|procedure|then)\\b
			|  \\s+ (?:then|:) \\s*$
			)
		"""
		decreaseIndentPattern: """(?x)
			^ \\s* end \\s+
			(?:begin|case|class|elsif|if|for|loop|procedure)\\b
		"""
